<div class="container">
    <img src="../../../assets/images/login/girl.png" class="left-img" alt="login" >
    <div class="login-form">
        <div class="form-title">Login</div>
        <div class="form-body">
            <div class="input-title">User Name</div>
            <input class="login-input" type="text">
            <div class="input-title">Password</div>
            <input class="login-input" type="password">
            <a class="forgot-text">Forgot User Name or Password?</a>
            <div class="remember-info">
                <input class="check-box" type="checkbox" name="remember" id="remember">
                <label for="remember" class="text">Remember this device</label>
                <img class="info-icon" src="../../../assets/images/login/info.svg" alt="">
            </div>
            <button class="sign-in-button" type="submit">Sign In</button>
            <div class="need-help">
                Need help? <a class="visit-help">Visit our Help Center</a>
            </div>
        </div>
        <div routerLink="/register" class="register">
            Don't have an employee account?
        </div>
    </div>
    <img src="../../../assets/images/login/man.png" class="right-img" alt="login" >
</div>