.hero{
    width: 100%;
    height: 100vh;
    background: url("../../../assets/images/home-background-1.jpg") center no-repeat;
    background-size: cover;
    position: fixed;
    // position: relative;
    top: 0;
    z-index: -1;
}

.hero::after{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

.category {
    margin-top: 100vh;
    width: 100%;
    background-color: white;
}

.content {
    // display: flex;
    // justify-content: center;
    min-height: calc(100vh - 6.6rem);
    margin: auto;
    // margin: 50px auto 30px;
    padding: 50px 16px;
    max-width: 960px;
    // flex-direction: column;
    // align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 16px; */
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
}

.icon-label {
    color: #6e7b81;
    font-size: 14px;
    max-width: 95px;
    text-align: center;
    white-space: pre-line;
    cursor: pointer;
    text-decoration: none;
    transition: 1s ease-out;
}

.circle-link {
    height: 75px;
    width: 75px;
    border-radius: 75px;
    margin: 10px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
}

.circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.icon-container:hover .circle-link {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.icon-container:hover .icon-label {
    color: #000000;
}