<section class="back-layer"></section>
<section class="welcome-note">
    <div (click)="goToCategory()" class="down-button">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>
</section>
<section id="category" class="category">
    <div class="white-background">
        <div class="content">
            <div class="card-container">
                <a *ngFor="let type of builderTypes" class="icon-container" [routerLink]="type.routerLink">
                    <span class="circle-link">
                        <img [src]="type.src" [alt]="type.alt">
                    </span>
                    <label class="icon-label">{{ type.type }}</label>
                </a>
            </div>
        </div>
    </div>
</section>