$navbar-height-s: 65px; //--navbar-height-secondary

.back-layer{
    width: 100%;
    height: 100vh;
    background: url("../../../assets/images/home-background-1.jpg") center no-repeat;
    background-size: cover;
    position: fixed;
    // position: relative;
    top: 0;
    z-index: -1;
}

.back-layer::after{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

.category {
    --navbar-height-secondary: 65px;
    width: 100%;
    padding-top: $navbar-height-s;

    .white-background {
        background-color: white;

        .content {
            min-height: calc(100vh - var(--navbar-height-secondary));
            margin: auto;
            padding: 50px 16px;
            max-width: 960px;

            .card-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .icon-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 10px 10px;
                    text-decoration: none;
                    cursor: pointer;

                    .circle-link {
                        height: 75px;
                        width: 75px;
                        border-radius: 75px;
                        margin: 10px;
                        background-color: white;
                        border: 1px solid #eeeeee;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                        transition: 1s ease-out;
                    }

                    .circle-link:hover {
                        transform: translateY(-3px);
                        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
                    }

                    .icon-label {
                        color: #6e7b81;
                        font-size: 14px;
                        max-width: 95px;
                        text-align: center;
                        white-space: pre-line;
                        cursor: pointer;
                        // text-decoration: none;
                        transition: 1s ease-out;
                    }
                }

                .icon-container:hover .circle-link {
                    transform: translateY(-3px);
                    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
                }
                
                .icon-container:hover .icon-label {
                    color: #000000;
                }
            }
        }
    }
}

.welcome-note {
    --navbar-height-secondary: 65px;
    width: 100%;
    height: calc(100vh - var(--navbar-height-secondary));
    position: relative;
    display: flex;
    justify-content: center;

    .down-button {
        width: 48px;
        height: 64px;
        position: absolute;
        bottom: 50px;
        cursor: pointer;
        
        .chevron {
            position: absolute;
            width: 48px;
            height: 8px;
            opacity: 0;
            transform: scale3d(0.5, 0.5, 0.5);
            animation: move 3s ease-out infinite;
        }
        
        .chevron:first-child {
            animation: move 3s ease-out 1s infinite;
        }
        
        .chevron:nth-child(2) {
            animation: move 3s ease-out 2s infinite;
        }
        
        .chevron:before,
        .chevron:after {
            content: ' ';
            position: absolute;
            top: 0;
            height: 100%;
            width: 51%;
            background: #fff;
        }
        
        .chevron:before {
            left: 0;
            transform: skew(0deg, 30deg);
        }
        
        .chevron:after {
            right: 0;
            width: 50%;
            transform: skew(0deg, -30deg);
        }
        
        @keyframes move {
            25% {
                opacity: 1;
        
            }
        
            33% {
                opacity: 1;
                transform: translateY(30px);
            }
        
            67% {
                opacity: 1;
                transform: translateY(40px);
            }
        
            100% {
                opacity: 0;
                transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            }
        }
    }
}